
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');


html,body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins',sans-serif;
    background-color:#f4f4f4;
    color:  #5d6d7e ;
}



.navbar{
    padding:1.2em;
}
.navbar a{
    color: #5d6d7e ;
}

.navbar{
    background-color:#eae7dc;
    
}

.nav-item a {
  color: #fff;
}

.nav-item a:hover {
  background: #6c5b7b;
  border-radius: 12px;
  color: #fff;
}

.navbar-nav li{
padding-right: 1em;
}

.nav-li{
font-size: 1.0 rem ! important;


}

.navbar-brand span{
    display:inline-table;
}

.navbar-brand img{width: 80%;}

h1,h2,h3{padding: 20px;

    }

    .welcome{
        
        
    color: #5d6d7e;
    }

    form {
        margin:30px;
        padding: 30px;
        background-color:#eae7dc;
        margin-left: 450px;
    }

    .login-btn {
      margin-top: 12px;
    }

    .form-check-label a {
      font-weight: 700;
    }

    .form-check-label a:hover {
      font-weight: 650;
      text-decoration: none;
    }

    .welcome .card {
        
        box-shadow: 10px 10px 5px #aaaaaa;
        margin-top: 30px;
        background-color:#eae7dc;}


.welcome a{
    text-decoration: none;
    background-color: #6C5B7B;
    color: #F7F7F7;
    font-size: 20px;
    margin: 150px ;
    padding: 7px 25px 15px ;
    
}
.info{ background-color:#eae7dc;
    padding: 30px;
    
margin: 30px;}

table{background-color:#eae7dc;}
a:hover{color: #5d6d7e;}

.btn-sign,.btn-signup{
    font-size: 20px;
    color: #F7F7F7;
    margin: 0 auto;
    padding: 7px 20px 10px ;
background-color: #6C5B7B;}


footer{text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  color:#F7F7F7;
  background-color: #6C5B7B;
  padding-top:20px ;
  margin-top: 30px;
  
  }


  @media (max-width: 576px) { 

    
   
   
  }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    
    
 }

/* Large devices (desktops, 992px and up)  */
@media (max-width: 992px) { }
    