* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}

.nav-link {
		color: #fff;
}

.nav-link:hover {
		background: #333;
		color: #fff;
		border-radius: 12px;
}
/*  Removing basic link styling  */
a {
		font-weight: 700;
}
.form-check-label a:hover {
		text-decoration: none;
		font-weight: 600;
}

/* Giving heading a space top and bottom */
.login-heading {
		margin: 50px;
}

/* From Styling to center */
.form-container {
		display: block;
		margin: 20px 450px;
}

.login-btn {
	padding: 12px;
	margin-top: 10px;
}